@media (max-width:1920px) {
    .mobileMenu{
        display: none;
    }
}
@media(max-width:828px) {
    nav{
        width: 564px;
    }
}
@media(max-width:768px) {
    nav ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: rgb(40,41,42);
        top: 4rem;
        right: 0;
        border-radius: 1rem;
        width: 8rem;
        padding: 1rem;   
    }
    nav ul li{
        margin: .5rem;
        z-index: 2;
    }
    nav{
        height: 62px;
        width:320px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .mobileMenu{
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
        padding: .5rem;
        border-radius: 50%;
    }
    .linkShowHide{
        display: none;
        overflow: hidden;
    }
    .linkShowHide::before{
        content: "";
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: rgba(31,32,33,.5);
        position: absolute;
        z-index: 1;
        top: -2rem;
        left: -2rem;
        transition: all ease .3s 0s;
    }
    .linkShowHide:hover::before{
        height: 12rem;
        width: 12rem;
    }
    .linkShowHide.active{
        display: flex;
    }
}