@media (max-width:1920px) {
    .mobileMenu{
        display: none;
    }
    ul li a{
        color: white;
        border-radius: 1.5rem;
    }
    .firstContant{
        background-color: white;
        width: 1000px;
        margin: 5rem 1rem 1rem 1rem;
        border-radius: 1rem;
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:828px) {
    nav{
        width: 564px;
    }
}
@media(max-width:768px) {
    nav ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 4rem;
        right: 0;
        border-radius: 1rem;
        width: 6rem;
        padding: 1rem;   
    }
    nav ul li{
        margin: .5rem;
        z-index: 2;
    }
    nav ul li a{
        color: rgb(105, 105, 105);
    }
    nav{
        height: 62px;
        width:320px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .mobileMenu{
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
        padding: .5rem;
        border-radius: 50%;
    }
    .linkShowHide{
        display: none;
        overflow: hidden;
        background-color: rgba(250, 250, 250, 1);
        
    }
    .linkShowHide::before{
        content: "";
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: rgba(243, 243, 243, 0.5);
        position: absolute;
        z-index: 1;
        top: -2rem;
        left: -2rem;
        transition: all ease .3s 0s;
    }
    .linkShowHide:hover::before{
        height: 9rem;
        width: 9rem;
        background: linear-gradient(45deg,rgba(255, 255, 0, 0.096),rgba(255, 0, 0, 0.11));
    }
    .linkShowHide.active{
        display: flex;
    }
    .firstContant{
        background-color: white;
        width: 100%;
        margin: 5rem 1rem 1rem 1rem;
        border-radius: 1rem;
    }
}