@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.maateen.me/adorsho-lipi/font.css');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: rgb(29,31,32); */
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
nav{
    width: 746px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: .1px .1px 5px rgba(0, 0, 0, 0.137);
    border-radius: 0rem 0rem 1rem 1rem;
    position: relative;
    background-color: red;
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0rem 1rem;
    color: white;
    font-family: 'Varela Round', sans-serif;/*the ff*/
    font-family: 'AdorshoLipi',sans-serif;

}
abbr{
    text-decoration: none;
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
}
ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    padding: .5rem 1rem;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'AdorshoLipi', sans-serif;

    color: rgb(99, 99, 99);
    /* background-color: rgba(0, 0, 0, 0.11); */
    margin-right:1rem;
    transition: all ease .3s 0s;
}
ul li a:hover{
    background-color: rgb(235, 0, 0);
    color: white;
    border-radius: 1.5rem;
}
.mobileMenu{
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    /* background-color: white; */
    align-items: CENTER;
    justify-content: space-between;
    transition:all ease .3s 0s;
}
.mobileMenu span{
    height: 5px;
    width: 5px;
    /* margin: 2px; */
    background-color: white;
    border-radius: 50%;
}
.mobileMenu:hover{
background-color:rgba(0, 0, 0,.1);
}

/*wish to work properly*/
/* it worked  */
/* now i have to care abut contents */
.container{
    /* height: 100vh; */
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: flex;
    justify-content: center;
}
.amraJaJaSikhabo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    font-family: 'AdorshoLipi',sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    width: 100%;
    margin: 1rem;
    
}
.grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
}
.grid div img{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin-top: 1rem;
}
.grid div a{
    position: relative;
    text-decoration: none;
    color: black;
    padding: .5rem;
    width: 100%;
    text-align: center;
    transition: all ease .3s 0s;
    overflow: hidden;
    z-index: 2;
}

.grid div a::before{
    content: "";
    height: 3rem;
    width: 3rem;
    display: flex;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
  
    transition:  ease .5s 0s;
    z-index: 1;
}
.grid div a:hover::before{
    background-color: rgba(255, 0, 0, 0.137);
    height:20rem;
    width: 20rem;
}
.txt{
    font-size: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(255, 0, 0, 0.226);
    color: red;
}
.typing,.drowing,.editing,.creating,.office,.webdev{
    background-color: rgb(245, 245, 245);
}
.kotha{
    font-family: 'AdorshoLipi',sans-serif;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}